$primary: #000000;
$light: #ffffff;
$nav-hover: #333333;
$line-color-1: #DDDDDD;
$line-color-2: #CBCBCB;
$input-bg: #F6F6F6;
$input-placeholder: #858181;
$btn-secondary: #DADADA;
$btn-secondary-hover: #333333;
$btn-light-hover: #E2E2E2;
