@use "colors" as c;
@import "./fonts";

.nav {
  background: c.$primary;
  padding: 10px 64px;
  position: relative;
  z-index: 99999;

  .nav__wrapper {
    max-width: 1240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  .nav__left, .nav__right {
    display: flex;
    align-items: center;
    gap: 0 30px;

    .nav__dropdown__menu, .nav__dropdown__menu__right {
      border: none;
      min-width: 210px;
      max-height: 280px;
      overflow-y: auto;
      box-shadow: 0 4px 16px hsla(0, 0%, 0%, 0.16);
      display: block !important;
      visibility: hidden;
      opacity: 0;
      transition: all 0.5s ease;
      transform: translateY(30%);

      ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start !important;

        li {
          width: 100%;
          padding: 8px 36px 8px 16px;
          transition: 0.3s ease;
          cursor: pointer;
          color: #757575;

          &:hover {
            background: c.$input-bg;
            color: c.$primary;
          }
        }
      }
    }

    .nav__dropdown__menu__right {
      min-width: 250px;
      ul {
        li {
          color: c.$primary;
          padding: 32px 18px;
          position: relative;
          overflow: hidden;
          &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 55px;
            width: 100%;
            height: 1px;
            background: c.$btn-secondary;
          }
          &:hover {
            color: inherit;
          }

          a {
            font-size: 18px;
            span {
              margin-right: 25px;
            }
          }
        }
      }
    }


    .nav__left__logo {
      color: #ffffff;
      font-size: 1.6rem
    }

    .nav__left__menu, .nav__right__menu {
      ul {
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        gap: 0 1rem;
        list-style-type: none;

        .navButton {
          padding: 10px 12px;
          border-radius: 30px;
          border: none;
          background: #ffffff;
          color: c.$primary;
          transition: 0.3s ease;

          &:hover {
            background: c.$btn-light-hover;
          }
        }

        .navLinkCaret {
          margin: 0 5px;
        }

        .navLink {
          padding: 10px 12px;
          border-radius: 30px;
          transition: 0.3s ease;
          background: transparent;
          border: none;
          cursor: pointer;

          &:focus {
            box-shadow: none;
          }

          a {
            color: #ffffff;
            transition: 0.3s ease;
            display: flex;
            align-items: center;

            .navLinkIcon {
              margin-right: 10px;
              display: flex;
              align-items: center;

              svg {
                width: 14px;
              }
            }

          }

          &:hover {
            background-color: c.$nav-hover;
          }
        }
      }

    }
  }
}



